@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
html {
  background-color: #020202;
  font-family: 'Roboto', sans-serif;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer div {
  color: #aaa;
  padding: 20px;
  font-size: 15px;
  box-sizing: border-box;
  font-weight: 300;
  text-align: center;
  width: 360px;
}

@media only screen and (min-width: 1080px) and (min-height: 500px) {
  #footer {
    position: fixed;
    bottom: 50px;
    left: 10%;
    right: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  #footer div {
    width: auto;
  }
}
svg {
  fill: none;
  stroke-width: 20px;
}

.marker {
  stroke-width: 40px;
}

text {
  font-size: 90px;
  stroke-width: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.label {
  font-size: 25px;
  stroke-width: 0;
}
